.ContactMainContainer {
  width: 100%;
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
}
.ContactHeader {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}
.ContactHeader h2 {
  margin: 2%;
}
.ContactLine {
  height: 5px;
  width: 100px;
  background-color: teal;
}
.ContactText {
  color: white;
}
.ContactForm {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
}
.ContactForm form {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ContactForm form input {
  height: 13%;
  background-color: rgb(37, 37, 37);
  padding-left: 10px;
}
.ContactForm form textarea {
  height: 35%;
  background-color: rgb(37, 37, 37);
  padding: 10px;
}
.ContactForm form input[type="submit"] {
  background-color: rgba(179, 19, 19, 0.7); /* Black w/opacity/see-through */
}
.ContactSocialMedia {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ContactSocialIcons {
    width: 85%;
  display: flex;
  justify-content: space-around;
}
.ContactSocialIcons a {
    width: 15%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.ContactSocialIcons a img {
    width: 50px;
    height: 50px;
}
.ContactSocialMedia h4, .ContactSocialMedia h5 {
    margin: 15px 0;
 
}
.ContactSocialMedia img {
  margin: 3%;
  height: 60px;
}
.ContactWrapper {
  width: 100%;
  max-width: 500px;
  height: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

