.MainWindowContainer {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: black;
}

.MainText {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 2px solid whitesmoke;
  width: 85%;
  max-width: 500px;
  padding: 0;
  margin: 0;
  animation: blury 4s;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */

}
.MainText h2 {
  padding: 0;
  margin: 0;
  margin-top: 0.7em;
  z-index: 2;
}
.MainText p {
    margin-top: 0.6em;
   
}
.findMoreDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 2px solid whitesmoke;
  width: 85%;
  max-width: 300px;
  padding: 0;
  margin: 0;
  background-color: rgba(179, 19, 19, 0.7); /* Black w/opacity/see-through */

  opacity: 0;
  animation: appear 2s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards; /* FF 5+ */
  -o-animation-fill-mode: forwards; /* Not implemented yet */
  -ms-animation-fill-mode: forwards; /* IE 10+ */
  animation-fill-mode: forwards; /* When the spec is finished */
}
.findMoreDiv h4,
.findMoreDiv p {
  padding: 0;
  margin: 10px;
}
.MainGif {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: appear 2s;
    animation-delay: 5s;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards; /* FF 5+ */
    -o-animation-fill-mode: forwards; /* Not implemented yet */
    -ms-animation-fill-mode: forwards; /* IE 10+ */
    animation-fill-mode: forwards; /* When the spec is finished */
}
@keyframes blury {
  from {
    filter: blur(4px);
  }
  to {
    filter: blur(0px);
  }
}
@keyframes appear {
  from {
    opacity: 0;
}
to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}