.ProjectsWrapper {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;;

}
.ProjectsMainContainer {
  width: 100%;
  height: 2800px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.ProjectsHeader {
  width: 100%;
  height: 9%;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 2%;
}
.ProjectsHeader h2 {
  margin: 2%;
}
.ProjectsLine {
  height: 5px;
  width: 100px;
  background-color: teal;
}
.ProjectsList {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ProjectCard {
  width: 70%;
  height: 14%;
  /* border: 5px solid black; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: white;
  margin: 2%;
}
.ProjectCardImg {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid black;
}
.ProjectCardImg img {
  object-fit: cover;
  object-position: center;
  object-position: top;
  width: 100%;
  height: 100%;
}
.ProjectCardText {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0%;
}
.ProjectCardText h2 {
  padding: 2%;
  margin: 0;
  color: white;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}
.ProjectCardText p,
.ProjectCardText a {
  font-size: 0.7rem;
  text-align: center;
  margin: 2%;
  margin-bottom: 0;
}

@media only screen and (min-width: 500px) {
  .ProjectCard {
    width: 39%;
    height: 30%;
    margin: 2%;
  }
  .ProjectsMainContainer {
    height: 1400px;

  }
}
@media only screen and (min-width: 800px) {
  .ProjectsMainContainer {
    height: 1100px;

  }
  .ProjectCard {
    width: 30%;
    height: 40%;
    margin: 1%;
  }
  .ProjectCardText p,
.ProjectCardText a {
  font-size: 0.8rem;
}
}

