html,
body {
  margin: 0;
  height: 100%;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100%;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}
/* Individual item */
.bm-item {
  height: 6%;
  width: 100%;
  margin: 0;
  padding: 0;
display: flex;
align-items: center;
/* Our sidebar item styling */

transition: color 0.2s;

outline-color: whitesmoke;
}
.menu-item {
    display: flex;
    align-items: center;
}
.bm-item a {
    vertical-align: middle;
    color: white;
    text-decoration: none;
    margin: 10px!important;
    height: 40px;
    line-height: 40px;
}

/* Change color on hover */
.bm-item:hover {
border: 1px solid whitesmoke;
color: whitesmoke;
}


/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 26px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 34px;
  width: 34px;
}
.bm-cross-button span button {
  height: 34px;
  width: 34px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  /* background: #373a47; */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
  text-align: center;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
