body,html {
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Comfortaa', cursive; */
      -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  width: 100%;
}

